/*--------GLOBAL------*/
:root{
    
    --blue: #4b89da;
    --color2: #6087bb;
    --color3: #bfc5cc;
    --color4: #8193aa;
    --red: #e22020;
    --green: #4dce26;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 93,75%; /*15px*/
}

body{
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;;
}

header{
    background: var(--blue);
    padding: 2rem 0 5rem;
    text-align: center;
}

a.btn-insert{
    text-decoration: none;
    color: var(--blue);
    font-weight: 600;
}

.logo{
    color: #ffffff;
    font-weight: 400;
    font-size: 1.5rem;
}

.container{
    width: min(90vw, 800px);/*pegar o menor entre os dois valores*/
    margin: auto;
}
/*----------DISCIPLINE---------*/
#discipline{
    display: flex;
    justify-content: space-around;
    margin-top: -3rem;
    margin-bottom: 4rem;
}

/*-----------CARDS------------*/

.card{
    background: var(--color3);
    padding: .5rem 2rem;
    border-radius: .25rem;
    opacity: 0.7;
    cursor: pointer;
}

.card:hover{
    opacity: 1;
}
/*-----------BUTTONS----------*/

.buttons{
    position: absolute;
    display: flex;
    padding: 0 2rem;
    gap: 5rem;
}

.button.cancel{
    display: flex;
    align-items: center;
    padding: .2rem;
    color: var(--red);
    border: 2px var(--red) solid;
    text-decoration: none;
    border-radius: 0.25rem;
}

.button-modal-flashcard.cancel{
    display: flex;
    align-items: center;
    padding: .2rem;
    color: var(--red);
    border: 2px var(--red) solid;
    text-decoration: none;
    border-radius: 0.25rem;
}

button{
    padding: 1rem;
    background: var(--blue);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    color: #fff;
}

/*-----------TABLE----------*/

#data-table{
    width: 100%;
    border-spacing: 0 0.5rem;
    padding: 2rem;
    text-align: left;
}

table thead th{
    padding: 1rem 1rem 1rem 2rem;
}


table thead tr th:first-child,
table tbody tr th:first-child{
    border-radius: 0.25rem 0 0 0.25rem;
    
}

table thead tr th:last-child,
table thead tr th:last-child{
    border-radius: 0 0.25rem 0.25rem 0;
}

table thead th{
background: var(--color4);
}

table tbody tr{
    background: var(--color3);
}

table tbody tr{
    opacity: 0.7;
    cursor: pointer;
}

table tbody tr:hover{
    opacity: 1;
}

table tbody td{
    padding: 1rem 2rem;
}

td.tema{
    width: 100%;

}
/*-----------MODAL INSERT DISCIPLINE------------*/
.modal-overlay-insert-discipline{
    width: 100%;
    height: 100%;

    background-color:  rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;    
}

.active-modal-discipline{
    opacity: 1;
    visibility: visible;
}

.modal-insert-discipline{
    display: flex;
    justify-content: center;
    width: 300px;
    background: #f0f2f5;
    padding: 1.4rem;
    position: relative;
    border-radius: .2rem;
}
/*MODAL INSERT FLASHCARD*/

.modal-overlay-insert-flashcard{
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}


.active-flashcard{
    opacity: 1;
    visibility: visible;
}

.modal-insert-flashcard{
    display: flex;
    justify-content: center;
    width: 300px;
    background: #f0f2f5;
    padding: 1.4rem;
    position: relative;
    border-radius: .2rem;
}

/*-----------FORM DISCIPLINE----------*/

form{
    max-width: 300px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}


.input-group.actions-insert-discipline{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    padding: .5rem;
}

input.discipline{
    width: 100%;
    height: 30px;
}

/**/

form.insert-flashcard{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------FORM FLASHCARD----------*/

.input-group.actions-insert-flashcard{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    padding: .5rem;
    gap: 4rem;
}

input.theme-flashcard{
    width: 100%;
    height: 30px;
}

/*----------FOOTER-------------*/

footer{
    text-align: center;
    padding: 4rem 0 2rem;
    opacity: 0.6;
}